<h1> New Space </h1>

<form action='/spaces' method='POST'>
  <label for='name'>
    Name:
    <input type='text' name='name' />
  </label>
  <label for='location'>
    Location:
    <input type='text' name='location' />
  </label>
  <label for='description'>
    Description:
    <input type='text' name='description' />
  </label>
  <label for='price_per_night'>
    Price Per Night:
    <input type='text' name='price_per_night' />
  </label>

  <input type='submit' value='Create space'>

</form>

<h1>Please sign in</h1>

<form action='/sessions' method='post'>
  <label for='email'>
  Email: 
  <input name='email', type='email'>
  </label>
  <label for='password'>
  Password: 
  <input name='password' type='password'>
  </label>
  
  <input type='submit' value='Sign in'>
</form>


